@import '../../components/Popup/PopupOverlay.css';
@import '../../components/Common/Button.css';

.popup h2 {
  margin-top: 0;
  font-size: 24px;
}

.role-selector {
  display: flex;
  margin-bottom: 20px;
}

.role-button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px;
}

.role-button.active {
  background: #007bff;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
}

.agreement {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.agreement input {
  margin-right: 10px;
}

.agreement label {
  font-size: 14px;
}

.agreement a {
  color: blue;
  text-decoration: none;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before, .divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: .25em;
}

.divider:not(:empty)::after {
  margin-left: .25em;
}

.social-login {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.social-button {
  background: none;
  border: none;
  cursor: pointer;
}

.switch-to-login {
  text-align: center;
  margin-top: 20px;
}

.switch-to-login a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
